
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');


.button {
    position: relative;
	width: 80px;
    border: 1.5px solid black;
    background-color: black;
    height: 40px;
    color: white;
	background-color: #123;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
	align-items: end;
    cursor: pointer;
    overflow: hidden;
  }
  
.button::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: .5s;
  }
  
.button:hover::after {
    transform: translateX(600px);
    transition-duration: .5s;
  }

.links  {
	justify-content: space-between;
	align-items: center;
	display: flex;
    flex-direction: row;
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 500;
}
.links div > a {
	color: #9ab;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: #adf;
}
.links > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header {
    font-size: 70.5%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    width: 100%;
}
.links {
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

