
*{
    margin: 0;
    padding: 0;
}


.input {
 border: none;
 padding: 1rem;
 border-radius: 1rem;
 background: #e8e8e8;
 box-shadow: 20px 20px 60px #c5c5c5,
		-20px -20px 60px #ffffff;
 transition: 0.3s;
}

.input:focus {
 outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}

.container{
display: grid;
  grid-template-columns: 50% 50% ;
  height: 90vh;
 font-family: Arial, Helvetica, sans-serif ;
 margin-top: 70px;
}

.gridItem1{
  padding: 4%;
  border-right: groove;
  

}

.gridItem2{
    padding: 5%;
    position: relative;
}

